.category-dropdown-container{
    /* margin: 20px 0; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    height: 400px;
    width: 925px;
    position: absolute;
    
}
.category-dropdown-item-container{
    width: 200px;
    box-shadow: 1px 2px 0 rgb(0 0 0 / 5%);
    background-color: #fff;
    border-radius: 5px;

}
.category-dropdown-item{
    padding:5px 1px;
    text-align: left;
    display: flex;;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    width:100%;
    font-size: 12px;
}
.category-dropdown-item:hover{
    color: #f18546;
    transform: scale(1.01);
}
.icon-margin{
    margin-right:4px;
}
.dropside-container{
    position: absolute ;
    top: 0;
    right: 0;
    border-left: 1px solid #f2f2f2;
    box-shadow: 1px 2px 0 rgb(0 0 0 / 5%);
    width: 725px;
    max-height: 100%;
    border-radius: 0 5px 5px 0;
    /* display: grid;
    grid-template-columns: repeat(4,auto); */
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    background-color: #fff;
}
.sub-category-item{
    color: #666 !important
}
.sub-category-item:hover{
    color: #000 !important;
    transform: scale(1.01);
    transition: .09s
}
.sub-category:hover{
    color:#f18546;
}
.category-card{
    padding: 5px;
    height: 140px;
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color:'#fff';
    margin: 10px 0px;
    
}
.category-card:hover{
    transform: scale(1.01);
    box-shadow: 2px 5px 15px rgb(0 0 0 / 10%);

}
.category-name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-image-cont{
    width: 192px;
    height: 106px;
}
@media(max-width: 1200px){
    .category-image-cont{
        width: 153px;
        height: 85px;
    }
    .category-card{
        width: 153px;
        height: 118px;
    }

}
@media (max-width:780px){
    .category-image-cont{
        width: 192px;
        height: 106px;
    }
    .category-card{
        height: 140px;
        width: 188px;
    }
   

}
