.checkbox-container{
    height: 100%;
    /* width: 100%; */
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    /* align-items: center; */
    
}

.check-mark{
    display: block;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border-radius: 3px;
    position:relative;
    transition: 0.2s;
    z-index: 2;
    border:1px sold #666
}
/* .check-mark:hover{
    box-shadow: 0px 0px 40px rgba(228, 94, 41, 0.9);
} */
#check:checked ~ .check-mark{
    background-color: #F25C05;
} 
.check-mark::after{
    content: "";
    z-index:  -1;
    position: absolute;
    width: 5px;
    height: 15px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top:  40%;
    left:50%;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(4);
    opacity: 0;
    transition: all .4s;
}
#check:checked ~.check-mark::after{
    opacity: 1;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}
.backgroundround{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.backgroundround{
    background-color: saddlebrown;
}