.footer-top-container{
    box-sizing: border-box;
    display: flex;
    background-color: #222;
    height: 300px;
    width: 100%;
    margin-top: 100px;
}

.footer-side-item{
    width: 400x;
}
.footer-bottom-container{
    display: flex;
    background-color: #474545;
    height: 400px;
    width: 100%;  
}