.user-register-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    height: 800px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 30px 0;
}
.Register-form-1{
    width: 100%;
    display: grid;
    grid-template-rows: 10% 40% 10% 20%;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    width: 70%;
}
.register-form-container{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
}
.register-form-header{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    color: #f18546; 
    font-weight: 600;
    /* height: 100%; */
    display: inline-flex;
    justify-content: left;
    align-items: center;  
    
}
